{
  "extends": ["./../../.eslintrc"],
  "ignorePatterns": ["src/@types/mercurius-generated.ts"],
  "overrides": [
    {
      "files": ["*.graphql"],
      "parser": "@graphql-eslint/eslint-plugin",
      "plugins": ["@graphql-eslint"]
    }
  ]
}